<header>
<div class="header-row">
	<div class="banner">
		<div class="logo">
			<div class="logo-inner">
				<a class="logo-bar__link logo-bar__logo-link" href="http://www.tum.de/" target="_self" title="Zur Startseite">
					<img alt="TUM – " class="logo-bar__img" src="{{site.baseurl}}/web/tum_logo.svg">
				</a>
				<div class="word-mark">
					<a class="logo-bar__link" href="http://www.net.in.tum.de/">
						Chair of Network Architectures and Services
					</a>
					<br>
					<a class="logo-bar__link" href="http://www.cit.tum.de/">
						TUM School of Computation, Information and Technology
					</a>
					<br>
					<a class="logo-bar__link" href="http://www.tum.de/">
						Technical University of Munich
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
</header>
