		<p><pre><code>kem_alg: ["X25519"]
sig_alg: ["dilithium2", "dilithium2_aes", "dilithium3", "dilithium3_aes", "dilithium5", "dilithium5_aes", "falcon512", "falcon1024", "sphincsharaka128fsimple", "sphincsharaka192fsimple", "sphincsharaka256fsimple", "p256_dilithium2", "rsa3072_dilithium2", "p384_dilithium3", "p521_dilithium5", "p256_falcon512",  "p521_falcon1024", "p256_sphincsharaka128fsimple", "p384_sphincsharaka192fsimple", "p521_sphincsharaka256fsimple","rsa:1024", "rsa:2048", "rsa:3072", "rsa:4096"]
tc: [""]</code></pre></p>
